body{
    background-color: aliceblue;
}

.todoList{
    margin-top: 10px !important;
    height: 500px;
    width: 400px;
    background-color: ivory;
    margin: auto;
    text-align: center;
    border: 0ex;
}
.counter{
    height: 20px;
    width: 400px;
    background-color: ivory;
    margin: auto;
    text-align: center;
}
.task{
    margin-top: 6px !important;
    height: 22px;
    width: 400px;
    background-color: ivory;
    margin: auto;
    text-align: center;
    display: flex;
    position: relative;
}
.textTask{
    margin: auto;
}
.buttonTask{
    position: absolute;
    right: 0;
    margin-right: 12px;
    border: 0;
    background-color: transparent;
}